{% extends "_base.html" %}
{% load static %}

{% block title %}En savoir plus{% endblock %}

{% block content %}
<div class="container">
    <h2>En savoir plus</h2>
    <h3>RUGBY A XV</h3>
    <h4>HISTOIRE</h4>
    <p>Décrit le Rugby à XV en 2 parties : premièrement l'histoire puis les règles de jeux
        Le Rugby à XV est un sport de ballon oval qui a été développé au Royaume-Uni au 19ème siècle. Selon la légende, il serait né en 1823 lorsqu'un jeune homme du nom de William Webb Ellis, alors âgé de 16 ans, aurait pris le ballon à la main et l'aurait porté pendant un match de football à l'école de Rugby. Cet événement est considéré comme étant la naissance du Rugby à XV.<br>   
        <br>
        Le jeu s'est rapidement répandu dans d'autres écoles et universités du Royaume-Uni, et a été introduit dans d'autres pays au cours des années suivantes. Le premier match international de Rugby à XV a eu lieu en 1871 entre l'Angleterre et l'Écosse. Depuis, le Rugby à XV est devenu un sport populaire dans de nombreux pays à travers le monde.</p>
    <h4>REGLES</h4>
    <p>
        Le Rugby à XV se joue sur un terrain rectangulaire de 110 mètres de long et 70 mètres de large. Un match de Rugby à XV est divisé en deux mi-temps de 40 minutes chacune. L'objectif du jeu est de marquer des points en mettant le ballon oval au sol dans la zone d'en-but adverse, ou en passant le ballon à un coéquipier à l'intérieur de la zone d'en-but.<br>
<br>
        Les joueurs peuvent se déplacer avec le ballon en le portant ou en le passant à un coéquipier. Ils peuvent également marquer des points en frappant le ballon à travers les poteaux de but à l'aide d'un coup de pied (un essai de transformation).<br>
        <br>
        Le Rugby à XV est un sport physique et exigeant, et les joueurs portent des équipements de protection tels que des casques et des protège-dents. Le jeu est encadré par un arbitre et ses assistants, qui veillent à ce que les règles soient respectées et prennent des décisions en cas de litige.</p>
        <br>
    <h3>JAPON</h3>
    <p>Le Japon est un pays d'Asie situé dans l'océan Pacifique. C'est une île nation composée de quatre îles principales (Honshū, Hokkaidō, Kyūshū et Shikoku) et de plus de 6 000 îles secondaires. Le Japon est bordé au nord par la mer du Japon et à l'est par la mer du Pacifique.<br>
        <br>
        Le Japon est une nation très densément peuplée, avec une population d'environ 126 millions d'habitants. La capitale du Japon est Tokyo, qui est également la ville la plus peuplée du pays. Le Japon est une monarchie constitutionnelle et le chef de l'État est le empereur Akihito. Le Japon est également un membre de l'Organisation des Nations Unies et de l'Organisation de coopération et de développement économiques.<br>
        <br>
        Le Japon est reconnu pour sa culture unique et sa technologie de pointe. La culture japonaise est influencée par des traditions anciennes telles que le shintō et le bouddhisme, ainsi que par des influences occidentales modernes. Le Japon est également connu pour ses arts martiaux, sa musique, ses films, ses mangas et ses animés. En ce qui concerne la technologie, le Japon est un leader mondial dans de nombreux domaines, notamment l'automobile, l'électronique et l'aérospatiale.<br>
        <br>
        Le Japon est également une destination touristique populaire, avec de nombreux sites historiques, culturels et naturels à visiter. Parmi les attractions touristiques les plus populaires du Japon figurent les temples et les sanctuaires shintō, les jardins japonais, les parcs nationaux et les villes historiques comme Kyoto et Nara.
    </p>
    <img src="../static/japBan.png" alt="" style="width: 1300px;"/>
</div>
{% endblock %}
